# Generated subdirectories
.DS_Store
test/results/
*.a
*.dll
*.dylib
**/*.o
**/*.so
.vscode
test/regression.diffs
test/regression.out
test/sql/*_installation*
test/expected/*_installation*
test/config/*.config
!test/config/config.sample.config
test/config/*.tar

# JIT
**/*.bc
