language: c
dist: precise
env:
  global:
    - PAGER=cat
    - HIVE_HOME=/opt/apache-hive-2.1.1-bin
    - HADOOP_HOME=/opt/hadoop-2.7.2

before_install:
  # Decrypt config files
  - openssl aes-256-cbc -K $encrypted_d52b986e6313_key -iv $encrypted_d52b986e6313_iv -in $TRAVIS_BUILD_DIR/test/config/hive.config.enc -out $TRAVIS_BUILD_DIR/test/config/hive.config -d
  - openssl aes-256-cbc -K $encrypted_d52b986e6313_key -iv $encrypted_d52b986e6313_iv -in $TRAVIS_BUILD_DIR/test/config/postgres.config.enc -out $TRAVIS_BUILD_DIR/test/config/postgres.config -d
  - openssl aes-256-cbc -K $encrypted_d52b986e6313_key -iv $encrypted_d52b986e6313_iv -in $TRAVIS_BUILD_DIR/test/config/mysql.config.enc -out $TRAVIS_BUILD_DIR/test/config/mysql.config -d
  - openssl aes-256-cbc -K $encrypted_d52b986e6313_key -iv $encrypted_d52b986e6313_iv -in $TRAVIS_BUILD_DIR/test/config/sqlserver.config.enc -out $TRAVIS_BUILD_DIR/test/config/sqlserver.config -d

  # Add custom PPAs from cartodb
  - sudo add-apt-repository -y ppa:cartodb/postgresql-9.5
  - sudo add-apt-repository -y ppa:cartodb/odbc
  # Add PostgreSQL 9.6. Due to we use precise right now, we don't have an odbc for trusty 
  - sudo add-apt-repository "deb http://apt.postgresql.org/pub/repos/apt/ precise-pgdg main"
  - wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
  - sudo apt-get update

  # Needed for the compilation of odbc_fdw.c
  - sudo apt-get -y install unixodbc-dev

  # Install postgres db and build deps
  - sudo dpkg -l | grep postgresql
  - sudo /etc/init.d/postgresql stop # stop travis default instance
  - sudo apt-get -y remove --purge postgresql-9.1
  - sudo apt-get -y remove --purge postgresql-9.2
  - sudo apt-get -y remove --purge postgresql-9.3
  - sudo apt-get -y remove --purge postgresql-9.4
  - sudo apt-get -y remove --purge postgresql-9.5
  - sudo rm -rf /var/lib/postgresql/
  - sudo rm -rf /var/log/postgresql/
  - sudo rm -rf /etc/postgresql/
  - sudo apt-get -y remove --purge postgis-2.2
  - sudo apt-get -y autoremove

  # Install PostgreSQL 9.5 from CARTO launchpad
  - sudo apt-get -y install postgresql-9.5=9.5.2-3cdb2
  - sudo apt-get -y install postgresql-server-dev-9.5=9.5.2-3cdb2
  - sudo /etc/init.d/postgresql stop 9.5
  # Install PostgreSQL 9.6
  - sudo apt-get install postgresql-9.6
  - sudo apt-get install postgresql-server-dev-9.6
  - sudo /etc/init.d/postgresql stop 9.6
  - sudo sed -i 's/port = 5433/port = 5432/g' /etc/postgresql/9.6/main/postgresql.conf

  - sudo apt-get -y install odbcinst
  - sudo apt-get -y install odbc-postgresql

  # configure it to accept local connections from postgres
  - echo -e "# TYPE  DATABASE        USER            ADDRESS                 METHOD \nlocal   all             postgres                                trust\nlocal   all             all                                     trust\nhost    all             all             127.0.0.1/32            trust" \
    | sudo tee /etc/postgresql/9.5/main/pg_hba.conf
  - echo -e "# TYPE  DATABASE        USER            ADDRESS                 METHOD \nlocal   all             postgres                                trust\nlocal   all             all                                     trust\nhost    all             all             127.0.0.1/32            trust" \
    | sudo tee /etc/postgresql/9.6/main/pg_hba.conf

  # Local MySQL
  - sudo apt-get -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" install mysql-server-5.5
  - sudo apt-get -y install libmyodbc

  # Local HIVE installation
  - echo -e "Host *\n   StrictHostKeyChecking no" \
    | sudo tee ~/.ssh/config
  - ssh-keygen -t dsa -P '' -f ~/.ssh/id_dsa
  - cat ~/.ssh/id_dsa.pub >> ~/.ssh/authorized_keys
  - chmod 0600 ~/.ssh/authorized_keys
  - sudo apt-get -y install openjdk-7-jre
  - wget -P /opt http://apache.rediris.es/hadoop/core/hadoop-2.7.2/hadoop-2.7.2.tar.gz
  - wget -P /opt http://apache.rediris.es/hive/hive-2.1.1/apache-hive-2.1.1-bin.tar.gz
  - tar -xzvf /opt/hadoop-2.7.2.tar.gz -C /opt
  - tar -xzvf /opt/apache-hive-2.1.1-bin.tar.gz -C /opt
  # We need the two instances of postgresql in the same port
  - sed -i -- 's/export JAVA_HOME=${JAVA_HOME}/export JAVA_HOME=\/usr\/lib\/jvm\/java-7-openjdk-amd64/g' $HADOOP_HOME/etc/hadoop/hadoop-env.sh
  - $HADOOP_HOME/bin/hdfs dfs -mkdir /tmp/warehouse
  - $HADOOP_HOME/bin/hdfs dfs -chmod g+w /tmp/warehouse
  - $HADOOP_HOME/bin/hdfs dfs -mkdir /tmp/warehouse/fdw_tests
  - $HADOOP_HOME/bin/hdfs dfs -chmod g+w /tmp/warehouse/fdw_tests
  - cp $TRAVIS_BUILD_DIR/test/fixtures/hive_example.csv /tmp/warehouse/fdw_tests
  - $HADOOP_HOME/sbin/start-dfs.sh
  - $HIVE_HOME/bin/schematool -initSchema -dbType derby
  - nohup $HIVE_HOME/bin/hive --service hiveserver2 &
  # Wait for server to start
  - sleep 10
  #- $HIVE_HOME/bin/beeline -u jdbc:hive2://localhost:10000 -f $TRAVIS_BUILD_DIR/test/fixtures/hive_fixtures.sql

  # Install Hiveserver2 driver
  - sudo apt-get install libsasl2-modules-gssapi-mit
  - wget -P /tmp http://public-repo-1.hortonworks.com/HDP/hive-odbc/2.1.2.1002/debian/hive-odbc-native_2.1.2.1002-2_amd64.deb
  - sudo dpkg -i /tmp/hive-odbc-native_2.1.2.1002-2_amd64.deb

  # SQL Server
  - sudo apt-get -y install freetds=1.00.14cdb7

  # ODBC installtion ini file
  - echo "[PostgreSQL ANSI]" | sudo tee /etc/odbcinst.ini
  - echo "Description = PostgreSQL ODBC driver (ANSI version)" | sudo tee -a /etc/odbcinst.ini
  - echo "Driver      = psqlodbca.so" | sudo tee -a /etc/odbcinst.ini
  - echo "Setup       = libodbcpsqlS.so" | sudo tee -a /etc/odbcinst.ini
  - echo "Debug       = 0" | sudo tee -a /etc/odbcinst.ini
  - echo "CommLog     = 1" | sudo tee -a /etc/odbcinst.ini
  - echo "UsageCount  = 1" | sudo tee -a /etc/odbcinst.ini
  - echo "\n" | sudo tee -a /etc/odbcinst.ini
  - echo "[PostgreSQL Unicode]" | sudo tee -a /etc/odbcinst.ini
  - echo "Description = PostgreSQL ODBC driver (Unicode version)" | sudo tee -a /etc/odbcinst.ini
  - echo "Driver      = psqlodbcw.so" | sudo tee -a /etc/odbcinst.ini
  - echo "Setup       = libodbcpsqlS.so" | sudo tee -a /etc/odbcinst.ini
  - echo "Debug       = 0" | sudo tee -a /etc/odbcinst.ini
  - echo "CommLog     = 1" | sudo tee -a /etc/odbcinst.ini
  - echo "UsageCount  = 1" | sudo tee -a /etc/odbcinst.ini
  - echo "\n" | sudo tee -a /etc/odbcinst.ini
  - echo "[MySQL]" | sudo tee -a /etc/odbcinst.ini
  - echo "Description = MySQL driver" | sudo tee -a /etc/odbcinst.ini
  - echo "Driver      = libmyodbc.so" | sudo tee -a /etc/odbcinst.ini
  - echo "Setup       = libodbcmyS.so" | sudo tee -a /etc/odbcinst.ini
  - echo "CPTimeout   =" | sudo tee -a /etc/odbcinst.ini
  - echo "CPReuse     =" | sudo tee -a /etc/odbcinst.ini
  - echo "UsageCount  = 1" | sudo tee -a /etc/odbcinst.ini
  - echo "\n" | sudo tee -a /etc/odbcinst.ini
  - echo "[Hortonworks Hive ODBC Driver 32-bit]" | sudo tee -a /etc/odbcinst.ini
  - echo "Description=Hortonworks Hive ODBC Driver (32-bit)" | sudo tee -a /etc/odbcinst.ini
  - echo "Driver=/usr/lib/hive/lib/native/Linux-i386-32/libhortonworkshiveodbc32.so" | sudo tee -a /etc/odbcinst.ini
  - echo "\n" | sudo tee -a /etc/odbcinst.ini
  - echo "[Hortonworks Hive ODBC Driver 64-bit]" | sudo tee -a /etc/odbcinst.ini
  - echo "Description=Hortonworks Hive ODBC Driver (64-bit)" | sudo tee -a /etc/odbcinst.ini
  - echo "Driver=/usr/lib/hive/lib/native/Linux-amd64-64/libhortonworkshiveodbc64.so" | sudo tee -a /etc/odbcinst.ini
  - echo "[FreeTDS]" | sudo tee -a /etc/odbcinst.ini
  - echo "Driver=/usr/lib/x86_64-linux-gnu/libtdsodbc.so" | sudo tee -a /etc/odbcinst.ini
  - echo "Setup=/usr/lib/x86_64-linux-gnu/odbc/libtdsS.so" | sudo tee -a /etc/odbcinst.ini

install:
  # We have to stop and start different versions of postgres because
  # the tests are port dependant and we don't want to include complexity
  # in there
  - sudo /etc/init.d/postgresql start 9.5
  - bash $TRAVIS_BUILD_DIR/test/fixtures/load_all_fixtures.sh
  - sudo /etc/init.d/postgresql stop 9.5
  - sudo /etc/init.d/postgresql start 9.6
  - bash $TRAVIS_BUILD_DIR/test/fixtures/load_all_fixtures.sh
  - sudo /etc/init.d/postgresql stop 9.6
  - sudo make clean && sudo make install
  - sudo PGVERSION=9.6 make clean && sudo PGVERSION=9.6 make install

script:
  # Start and stop postgres is done because the instances share the same port
  - sudo /etc/init.d/postgresql start 9.5
  - PGVERSION=9.5 make integration_tests || { cat test/regression.diffs; false; }
  - sudo /etc/init.d/postgresql stop 9.5
  - sudo /etc/init.d/postgresql start 9.6
  - PGVERSION=9.6 make integration_tests || { cat test/regression.diffs; false; }
