language: c
group: travis_stable
sudo: required

env:
  global:
    - PAGER=cat
    - HIVE_VERSION=2.1.1
    - HIVE_HOME=/opt/apache-hive-2.1.1-bin
    - HADOOP_VERSION=2.7.5
    - HADOOP_HOME=/opt/hadoop-2.7.5

matrix:
  include:
    - env: PGSQL_VERSION=9.5
    - env: PGSQL_VERSION=9.6
    - env: PGSQL_VERSION=10

addons:
  apt:
    sources:
      - sourceline: 'ppa:cartodb/odbc'
    packages:
    - mysql-server-core-5.6
    - mysql-client-5.6
    - mysql-server-5.6
    - unixodbc-dev
    - odbcinst         # ODBC core
    - odbc-postgresql=1:09.02.0100-2ubuntu1  # PgSQL ODBC
    - libmyodbc        # MySQL ODBC
    - freetds # Custom package to use freetds >= 1.x in trusty


before_install:
  # Decrypt config files
  - openssl aes-256-cbc -K $encrypted_d52b986e6313_key -iv $encrypted_d52b986e6313_iv -in $TRAVIS_BUILD_DIR/test/config/hive.config.enc -out $TRAVIS_BUILD_DIR/test/config/hive.config -d
  - openssl aes-256-cbc -K $encrypted_d52b986e6313_key -iv $encrypted_d52b986e6313_iv -in $TRAVIS_BUILD_DIR/test/config/postgres.config.enc -out $TRAVIS_BUILD_DIR/test/config/postgres.config -d
  - openssl aes-256-cbc -K $encrypted_d52b986e6313_key -iv $encrypted_d52b986e6313_iv -in $TRAVIS_BUILD_DIR/test/config/mysql.config.enc -out $TRAVIS_BUILD_DIR/test/config/mysql.config -d
  - openssl aes-256-cbc -K $encrypted_09e387fba547_key -iv $encrypted_09e387fba547_iv -in $TRAVIS_BUILD_DIR/test/config/sqlserver.config.enc -out $TRAVIS_BUILD_DIR/test/config/sqlserver.config -d
  # Install PostgreSQL (no sudos in script)
  - sudo bash $TRAVIS_BUILD_DIR/test/scripts/ci/install_postgres.sh
  # Install Hive (sudos in script as needed)
  - bash $TRAVIS_BUILD_DIR/test/scripts/ci/install_hive.sh
  # ODBC installation ini file
  - sudo cp $TRAVIS_BUILD_DIR/test/scripts/ci/odbcinst.ini /etc


install:
  - bash $TRAVIS_BUILD_DIR/test/fixtures/load_all_fixtures.sh
  - bash $TRAVIS_BUILD_DIR/test/tests-generator.sh
  - cat $TRAVIS_BUILD_DIR/test/config/postgres.config
  - cat $TRAVIS_BUILD_DIR/test/sql/postgres_10_installation_test.sql
  - psql -U postgres -d fdw_tests -c "select * from pg_foreign_server"
  - psql -U postgres -d fdw_tests -c "select * from pg_user_mapping"
  - psql -U postgres -d fdw_tests -c "select * from pg_foreign_table"
  - psql -U postgres -c "select * from pg_foreign_data_wrapper"
  - sudo make install

script:
  - make integration_tests || { cat test/regression.diffs; false; }

after_failure:
  - sudo cat /var/log/postgresql/postgresql-${PGSQL_VERSION}-main.log

